<%- include ('partials/header') %>
    


   
    <div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1> welcome Yelp Camp!</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <p><a class="btn-lg btn-primary" href="campgrounds/new">create new campground</a></p>
        </div>
        
    </header>
    <div class="row text-center">
        <%camp_grounds_list.forEach((camp)=>{%>
      <div class="col-md-3 col-sm-6 m-3" style="display:flex; flex-wrap:wrap;">
          <div class="thumbnail">
             <img src="<%=camp.image_url%>" alt="">
             <div class="caption">
                  <h4><%=camp.name%></h4>

             </div>
             <p>
                 <a class ="btn btn-primary" href="/campgrounds/<%=camp._id%>">More Info</a>
             </p>
            
          </div>
          
         
      </div>
       
    <%});%>
    </div>

    </div>
   
   


<%- include ('partials/footer') %>